/* 
  Version 1.1 2019-08-13
  Based on http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/

html, body, iframe, section, header, footer, menu, nav, 
div, span, object,
ol, ul, li, dl, dt, dd,
a, b, i,
form, fieldset, legend, label, textarea, 
hgroup, h1, h2, h3, h4, h5, h6, p, pre, code,
blockquote, abbr, address, cite,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, aside, canvas, details, figcaption, figure, summary,
address,time, mark, audio, video {
  -moz-box-sizing: border-box;   /* prefixed on firefox until 2014*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent; 
}
html, body {
  font: 400 16px system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}
/*  Form Elements */
fieldset{
  border:0;
}
textarea{
  border: 1px solid black;
}
input:not([type="color"]):not([type="range"]),
textarea,
option,
optgroup,
select,
button{
  padding: 0.25em;
  font:inherit;
}
/* Interactive elements*/
button,
input[type="submit"],
input[type="button"],
input[type="reset"]{
  cursor:pointer;
}
a:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled{
  cursor:default;
}
img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

